# Ignore local node_modules folders
node_modules

# Ignore generated build artifacts
build/
target/

# Ignore frontend runtime artifacts
MiscClients/spring_reactjs/webtrader_reactjs/node/
MiscClients/spring_reactjs/webtrader_reactjs/package-lock.json
